/**
 * Place your custom CSS styles here.
 **/

.alertWS,
#fb-root,
#sub_header,
.share-button,
.content-post,
.description {
  display: none !important;
  z-index: -999 !important;
}

.header {
  background-image: none !important;
  padding-bottom: 20px;
}

.travatitle {
  text-align: center;
  color: yellowgreen;
  font-weight: bolder;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Comic Sans MS", "Comic Sans";
}

.travahomelink {
  text-decoration: none;
}