/**
 * Place your custom CSS styles here.
 **/

.alertWS, #fb-root, #sub_header, .share-button, .content-post, .description{
  display: none !important;
  z-index: -999 !important;
}

.owl-carousel .owl-item img {
  width: 100px !important;
}

.header {
  background-image: none !important;
  padding-bottom: 20px;
}

.travatitle {
  text-align: center;
  color:yellowgreen;
  font-weight: bolder;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Comic Sans MS", "Comic Sans";
}

.travahomelink {
  text-decoration: none;
}

/* #Player iframe {
  display: none !important;
  z-index: -999999 !important;
} */